<div class="col-xs-12">
  <ul class="">
    <li><strong>6+ years</strong> of experience in the field of Fontend Development.</li>
    <li>Excellent knowledge of the PSD to HTML Conversion, Photoshop Slicing, Creating Sprite images.</li>
    <li>Advanced knowledge of CSS 2 and CSS 3 including media queries and animations.</li>
    <li>Advanced knowledge of responsive web design techniques including CSS responsive design frameworks preferably
      Bootstrap.</li>
    <li>Advanced knowledge of CSS pre-processors such as LESS and SASS.</li>
    <li>Strong working knowledge on jQuery and JavaScript Frameworks (Angular5, Node JS).</li>
    <li>Good Understanding of continual desire to learn and expand horizons in an evolving Technology.</li>
    <li>Flexible, Hardworking, excellent understanding power with good communication skills. </li>
  </ul>
</div>
